{
  "session1": {
    "SESSION_ID": "levanter_sessionid",
    "PREFIX": "^[.,!]",
    "SUDO": "0",
    "STICKER_PACKNAME": "Maverick Ayo",
    "ALWAYS_ONLINE": "true",
    "RMBG_KEY": "Q3qNNWRaUjp86qCEaJ9FTb2h",
    "STATUS_VIEW_EMOJI" : "💚"
    "WARN_LIMIT": "4",
    "FORCE_LOGOUT": "false",
    "DISABLE_BOT": "null",
    "ANTILINK_MSG": "",
    "ANTISPAM_MSG": "",
    "ANTIWORDS_MSG": "",
    "ANTIWORDS": "word",
    "REJECT_CALL": "false",
    "AUTO_STATUS_VIEW": "no-dl",
    "SEND_READ": "true",
    "AJOIN": "false",
    "GPT": "free",
    "MODEL": "gpt-3.5-turbo",
    "ANTI_DELETE": "null",
    "PERSONAL_MESSAGE": "null",
    "DISABLE_START_MESSAGE": "false",
    "WARN_MESSAGE": "⚠️WARNING⚠️\n*User :* &mention\n*Warn :* &warn\n*Remaining :* &remaining",
    "WARN_RESET_MESSAGE": "WARN RESET\nUser : &mention\nRemaining : &remaining\nWARN_KICK_MESSAGE=&mention kicked",
    "WARN_KICK_MESSAGE": "&mention kicked",
    "DELETE_TYPE": "all",
    "LIST_TYPE": "text",
    "BING_COOKIE": "",
    "GEMINI_API_KEY": "AIzaSyDyDJbLlBPTMgW6xRKG6qJANcUZwtUPqiY",
    "GROUP_ADMINS": "",
    "CMD_REACTION": ""
  },
  "session2": {
    "SESSION_ID": "levanter_sessionid",
    "PREFIX": "null"
  },
  "session3": {
    "SESSION_ID": "levanter_sessionid",
    "PREFIX": ".."
  }
}
